<section class="score-panel">
  <div class="score-block">
    <div class="label">Good</div>
    <div id="good-checks" class="icon-row"></div>
  </div>

  <div class="score-block">
    <div class="label">Bad</div>
    <div id="bad-checks" class="icon-row"></div>
  </div>

  <div class="score-block">
    <div class="label">Stars</div>
    <div id="stars" class="icon-row"></div>
  </div>

  <div class="score-block">
    <div class="label">Sad</div>
    <div id="sads" class="icon-row"></div>
  </div>
</section>

<script>
  window.APP_ICONS = {
    greenCheck: "{{ url_for('static', filename='icons/green_check.png') }}",
    redCheck: "{{ url_for('static', filename='icons/red_check.png') }}",
    star: "{{ url_for('static', filename='icons/star.jpg') }}",
    sad: "{{ url_for('static', filename='icons/sad.png') }}"
  };
</script>

<script src="{{ url_for('static', filename='app.js') }}"></script>